@{
    ViewBag.Title = "Index Page";
    
}


<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="widget-config" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">
            ×
        </button>
        <h3>
            Widget Settings
        </h3>
    </div>
    <div class="modal-body">
        <p>
            Here will be a configuration form
        </p>
    </div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Master Categories
            </h3>

            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div id="page">
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="widget box blue">
                    <div class="widget-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN PORTLET-->
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="widget box purple">
                                                <div class="widget-title">
                                                    <h4>
                                                        <i class="icon-reorder"></i>Add New Category
                                                    </h4>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"></a><a href="javascript:;" class="reload">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="widget-body form">
                                                    <!-- BEGIN FORM-->
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <label id="lblMessage" style="color:red"></label>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            Category Name
                                                        </label>
                                                        <div class="controls">
                                                            <input type="text" id="txtProdName" style="width:260px;" CssClass="span6 m-wrap" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            Category Desc.
                                                        </label>
                                                        <div class="controls">
                                                            <input type="text" id="txtDesc" style="width:260px;" CssClass="span6 m-wrap" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <input type="button" id="btnSave" value="Save" CssClass="btn blue" />
                                                    <input type="button" id="btnCancel" value="Cancel" CssClass="btn" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN PORTLET-->
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="widget box purple">
                                                <div class="widget-title">
                                                    <h4>
                                                        <i class="icon-reorder"></i>Sample Type Details
                                                    </h4>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"></a><a href="javascript:;" class="reload">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="widget-body form">
                                                    <!-- BEGIN FORM-->

                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <label id="lblmessage1" style="color:red"></label>
                                                        </div>
                                                    </div>
                                                   <table>
                                                       <tr>

                                                       </tr>
                                                   </table>

                                                    <!-- END FORM-->
                                                </div>
                                            </div>
                                            <!-- END PORTLET-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
